.progres_bar {
    counter-reset: progress 0
}

.progres_bar li {
    list-style: none;
    counter-increment: progress 1;
    position: relative;
    margin-bottom: 50px;
    font-size: 15px;  
    
    letter-spacing: 1px
}

.progres_bar li::before {
    position: absolute;
    content: counter(progress);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    z-index: 5;
    border: 2px solid rgb(82, 180, 75);
    background-color: rgb(82, 180, 75);
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    top: -8px;
    cursor: pointer;
    transition: all 0.5s
}

.progres_bar li::after {
    position: absolute;
    content: '';
    height: 90px;
    width: 4px;
    background-color: rgb(82, 180, 75);
    left: -27px;
    top: -70px
}

.progres_bar li:nth-child(1)::after {
    display: none
}

.progres_bar li.active::after {
    background-color: #fff !important
}
.progres_bar li.active{
    color: rgb(82, 180, 75) !important;
}
.progres_bar li:nth-child(1) {
    color: #fff
}

.progres_bar li:nth-child(1)::before {
    background-color: rgb(150, 120, 120);
    color: rgb(197, 9, 9) !important
}

.progres_bar li.active::before {
    background-color: #fff !important;
    color: rgb(82, 180, 75) !important
}