body {
    background-color: #b5efb1;
}
nav {
    padding: 20%;
}
.nav-item {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;

}
.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #f52020  

}

.sidebar-left {
    position: sticky;
    top: 0;
    height: calc(100vh - 60px);
    border-radius: 5px;
   
}
img {
    width: 200px;
    height: 80px;
    
}